<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".AutomationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.explorer.fileexplorer.action.COPY" />
                <action android:name="com.explorer.fileexplorer.action.MOVE" />
                <action android:name="com.explorer.fileexplorer.action.ZIP" />
                <action android:name="com.explorer.fileexplorer.action.UPLOAD" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
